body {
    margin: 0;
    padding: 0;
    background-color: #ffb6c1; /* Rosa */
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
}

button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ffffff;
    color: #ff69b4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff69b4;
    color: white;
}
